includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 9

    paths:
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
