<?php
declare(strict_types=1);

/**
 * @uses \App\Controller\UsersController::login()
 *
 * @var \{{ namespace }}\View\AppView $this
 */
?>

<div class="{{ pluralVar }} form content">
    <?= $this->Form->create() ?>
    <fieldset>
        <?php
        echo $this->Form->control(fieldName: 'username');
        echo $this->Form->control(fieldName: 'password');
        ?>
    </fieldset>
    <?= $this->Form->button(title: __('Login')); ?>
    <?= $this->Form->end() ?>
</div>
